<h1><%=	 @song.title %></h1>
<p>
  Release Date: <%=	 @song.released_on.strftime("%e %B %Y") if @song.released_on %>
</p>
<p>
  Length: <%=	 @song.length / 60 %> minutes <%=	 @song.length % 60 %> seconds
</p>
<pre>
  <%=	 @song.lyrics %>
</pre>
<p>
  <a href="/songs">back to songs index</a>
  <a href="/songs/<%=@song.id%>/edit">edit this song</a>
  <form action="/songs/<%= @song.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete this song">
  </form>
</p>